<div class=" image1">
  <img src="https://p4.wallpaperbetter.com/wallpaper/937/160/21/apple-devices-blur-close-up-computer-wallpaper-preview.jpg">
    <div class="header">
      <div class="title">
          <h1>Demo App</h1>
      </div>
    <div class="nav">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">AboutUS</a>
      <a routerLink="/job">Jobs</a>
      <a routerLink="/client">Clients</a>
      <a routerLink="/employee">Employers</a>
      <a routerLink="/contact">ContatUs</a>
      
    </div>
</div>
</div>
<div class="banner">
  
  <router-outlet>

  </router-outlet>
</div>