<div *ngIf="user">
  <div class="userbox">
    <div class="usertitle">
        <h1>Profile</h1>
    </div>
    <div class="profileb">
        <div class="profilebox">
            <div class="profimage"> 
                <label> {{ user.photo1 }}</label>
            </div>
            <div class="profbtn">
                <button>Edit Photo</button>
                <button>Edit Photo</button>
            </div>
        </div>
        <div class="infobox">
            <div class="des">
                <label>I'm {{ user.firstName }} </label>
                <label> {{ user.lastName }}</label>
                <label> and I'm above{{ user.age }}  years and </label>
                <label> you can send your emails to <br>
                    <span>{{ user.email }}.</span></label>
                <label> I live in the state of {{ user.selectedOption }}.</label>
                <label> I like to play </label>
                <label> And please send me newsletter.</label>
                <label> Please reach out to me on my phone number. {{ user.mobile }}</label>
            </div>
            <div class="descbtn">
                <button>I Agree</button>
            </div>
        </div>  
    </div>
</div>
</div>